@import './base.css';



body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: --color-background;
  color: --color-text;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 665px;
}

a {
  color: #5555ff;
  text-decoration: none;
}
a:hover {
  color: #8888ff;
}

li {
  list-style-type: disc;
}